<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8"/>
    <title>{{config.title}} - {{strip_html page.title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">
    {{css "css/docs.css"}}
</head>
<body>
<div class="menu">
    <div class="logo">
        <code>brookjs</code>
    </div>
    <nav class="menu-nav">
        {{#each site.data.nav as |section|}}
            <ul class="nav">
                <span>{{section.title}}</span>
                <ul class="nav">
                    {{#each section.items as |item|}}
                        <li>
                            <a href="{{url_for item.id}}.html"{{#if (compare item.id page.id)}} class="active"{{/if}}>{{item.title}}</a>
                        </li>
                    {{/each}}
                </ul>
            </ul>
        {{/each}}
    </nav>
    <a class="footer" href="https://github.com/valtech-nyc/brookjs">
        Project on github
    </a>
</div>
<div class="page">
    <div class="page-content">
        <h1>{{{page.title}}}</h1>
        {{{page.content}}}

        {{#if (compare page.id "changelog")}}
            {{changelog}}
        {{/if}}
    </div>
</div>
<div class="switch-page">
    {{#if page.prev}}
        <a href="{{page.prev}}" class="previous">Prev</a>
    {{/if}}
    {{#if page.next}}
        <a href="{{page.next}}" class="next">Next</a>
    {{/if}}
</div>
</body>
</html>
